@model BlogApplication.Areas.App.Models.Post;
@using System.Text.Json;
@{
    var jsonContent = JsonSerializer.Serialize(Model.Content);
    var S3Url = ViewData["S3Url"] as string;
    var givenName = @Model.User?.GivenName ?? "";
    var surname = @Model.User?.Surname ?? "";
    ViewData["title"] = Model.Title ?? "";

}
<section id="blogPage">
    <header class="mb-4 lg:mb-6 not-format mx-auto max-w-[100ch] px-2 mt-20">
        <address class="flex items-center mb-6 not-italic">
            <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                <img class="mr-4 w-16 h-16 rounded-full" src="https://ui-avatars.com/api/?name=@givenName+@surname"
                    alt="Avatar">
                <div>
                    <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">@givenName
                        @surname</a>

                    <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate>{{data.displayDate}}</time></p>
                </div>
            </div>
        </address>

    </header>
    <article v-cloak
        class="px-3  mx-auto format format-sm sm:format-base lg:format-lg format-blue dark:format-invert prose max-w-[100ch]"
        v-html="data.contentHtml">
    </article>
</section>
<div class="h-28"></div>

@section Scripts {
    <script>
        window.viewData = {
            s3Url: "@S3Url",
            post: {
                id: "@Model.Id",
                title: "@Model.Title",
                thumbnail: "@Model.Thumbnail",
                content: JSON.parse(@Html.Raw(jsonContent)),
                createdAt: "@Html.Raw(@Model.CreatedAt.ToString("o"))"
            }
        }

    </script>
    <script src="~/js/dist/blog/blog-post.js" type="module"></script>
}